.logo {
    width: 50%;
    height: auto;
    padding-top: 10px;
}

#formhome .welkom {
    padding-top: 10px;
}

.inputTable {
    width: 80%;
    margin: 0 auto;
    padding: 60px 40px;
    padding-top: 30px;
    background: rgba(0,0,0,.5);
}

.inputTitle {
    color: #FFF;
    font-size: 3em;
    padding-bottom: 20px;
}

.btn-group-lg>.btn, .btn-lg {
    font-size: 4em;
}
.btn-default {
    background: none;
    border: none;
    color: #FFF;
}

.btn-default:hover {
    background: none;
    color: #337ab7;
}

.inputTable button {
    -webkit-transition: color .5s ease-out;
    -moz-transition: color .5s ease-out;
    -o-transition: color .5s ease-out;
    transition: color .5s ease-out;
}

.inputTable button:hover {
    color: #337ab7;

}