/*-------OUTPUT - HOME-------*/
.list {
    width: 80%;
    margin: 0 auto;
    margin-top: 60px;
}

.list .row {
    background: rgba(0,0,0,.5);
    padding: 5px 0;
    margin-bottom: 10px;
    min-height: 200px;
}

.list .date {
    margin: 15px 0 0 10px;
    font-size: 1.2em;
}

.list h4 {
    color: #fff;
    font-size: 2em;
    text-transform: uppercase;

}
.list p {
    color: #fff;
}

.list .col-md-8 p:nth-of-type(1){
    font-weight: bold;
}

.list .glyphicon {
    font-size: 2em;
    color: #FFF;
}

.list .text-right span {
    border: 1px solid #fff;
    padding: 8px;
}

.home hr {
    border-top: 1px solid black;
    margin-left: 10px;
}

h4.strikethrough {
    text-decoration: line-through;

    color: #337ab7;

}
h4 span {
    color: #fff;
}

