/*-------OUTPUT - HOME-------*/
.listbackground {
    border: 1px solid black;
    margin: 0.5em 0.1em;
}

.list {
    width: 80%;
    margin: 30px auto;

}

.list .row {
    background: #337ab7;
    padding: 5px 0;
    margin-bottom: 10px;
    min-height: 150px;
}

.list .row:nth-of-type(even) {
    background: rgba(0,0,0,.5);

}

.list .date {
    margin: 15px 0 0 10px;
    font-size: 1.2em;
}

.list h4 {
    color: #fff;
    font-size: 2em;
    text-transform: uppercase;
}

.list a {
    color: #fff;
}

.list p {
    color: #fff;
}

.list .description {
    margin-left: -15px;
}


.list .glyphicon {
    font-size: 2em;
    color: #FFF;
    -webkit-transition: color .5s ease-out;
    -moz-transition: color .5s ease-out;
    -o-transition: color .5s ease-out;
    transition: color .5s ease-out;
}


.list .flow {
    display: flex;
    justify-content: space-between;
    align-self: flex-end;
    margin-top: 10px;

}

.list .flow p{
}


.list .flow span {
    border: 1px solid #fff;
    padding: 8px;
}

.list .glyphicon:hover {
    color: black;
}

.home hr {
    border-top: 1px solid black;
}

h4.strikethrough {
    text-decoration: line-through;
    color: #337ab7;

}
h4 span {
    color: #fff;
}



