.index {
    margin: 0;
    padding: 0;
    background: url(../img/bg/bg01.jpg);
    background-size: cover;
}

.logo {
    margin: 0 auto;
}

.title {

    color: #FFF;
    text-align: center;
    font-size: 3em;
    letter-spacing: 2px;
}

.boxtitles {
    padding-bottom: 15px;
    text-align: center;
}

.input-group input {
    color: #fff;
}

.control-label {
    padding-top: 10px;
}

.boxsubmit {
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    }

.boxsubmit button {
    -webkit-transition: background-color .5s ease-out;
    -moz-transition: background-color .5s ease-out;
    -o-transition: background-color .5s ease-out;
    transition: background-color .5s ease-out;
}

.boxsubmit button:hover {
    background-color: #337ab7;
    border-color: #337ab7;
}

.showPass {
    margin: 10px 0;
    color: #fff;
}
